@charset "utf-8";.div_menu,body{font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif}

div a,ul li{
	display:inline-block
}
.asterisco{
	color:red
}
.div_menu{
	width:750.5px;
	background-color:#045491;
	margin:auto;
	padding:5px;

}
div a{
	font-weight:700;
	text-decoration:none;
	color:#fff;
	font-size:100%;
	padding:5px;
	border-radius-right:10px;
	border-radius-lefth:10px
}
ul{
	display:inline;margin:0;padding:0
}
.menu_bar a:hover,ul li:hover{
	background:#b4e391;
	background:-moz-linear-gradient(top,#bbe0f6 0,#045491 50%,#bbe0f6 100%);
	background:-webkit-linear-gradient(top,#bbe0f6 0,#045491 50%,#bbe0f6 100%);
	background:linear-gradient(to bottom,#bbe0f6 0,#045491 50%,#bbe0f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbe0f6', endColorstr='#bbe0f6', GradientType=0 );
	cursor:pointer
}
.menu_bar{
	display:none
}
@media screen and (max-width:1000px){
	.menu_bar,ul li{
		border-bottom:2px solid #FFF;
		display:block
	}
	.menu_bar{
		background-color:#911108;
		width:99%;
		padding:8px 2px
	}
	.menu_bar .bt-menu{
		display:block;
		background:#911108;
		color:#fff;
		text-decoration:none;
		font-weight:700;
		font-size:150%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}
	.div_menu{
		margin:0;
		width:98%;
		padding:5px
	}
	ul li{
		padding-left:10px;
		padding-bottom:2px;
		padding-top:2px
	}
	.div_menu nav ul li a{
		display:block;
		float:none
	}
	div a{
		border-right:none
	}
}
@media screen and (max-width:765px){
	input[type=text]{width:90%}
}
@media screen and (max-width:725px){
	input[type=text]{width:88%}
}
@media screen and (max-width:608PX){
	input[type=text]{width:85%}
}
@media screen and (max-width:500PX){
	input[type=text]{width:80%}
}
@media screen and (max-width:370PX){
	input[type=text]{width:75%}
}
@media screen and (max-width:150px){
	input[type=text]{width:33%}
}