@charset "utf-8";
.TITULO,td{
	text-align:center
}
table tr:nth-child(odd){
	font-size:90%;
	text-transform:uppercase;
	background-color:#fff
}
table tr:nth-child(even){
	font-size:90%;
	text-transform:uppercase;
	padding:8px;
	background:#eef6f9;
	

}
.principal{
	color:#FFF;
	font-size:130%;
	background-color:#045491;
	padding:8px;
	font-weight:700
}
.TITULO{
	color:#FFF;
	font-size:100%;
	background-color:#403f3d;
	padding:6px
}
table{
	border-spacing:0
}
.principal:first-child{
	border-radius:15px 15px 0 0;
	border-color:transparent
}
.datos:hover{
	background-color:#fbf8e9
}
.datos{
	text-align:left
}